<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>application</title>
  </head>
  <body>
    <h1>hello how r you</h1>
    <form class="" action="result" method="post" enctype="multipart/form-data">
      <label for="left_file">left image</label>
      <input type="file" name="left_file" value="left_image">
      <label for="right_file">right image</label>
      <input type="file" name="right_file" value="right_image">
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
